@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
}
.Bookshelf{
    text-align: center;
}

.contents{
    margin-left: 5%;
    margin-right: 5%;
}

hr{
    background-color: black;
    width: 95%;
}

.child-content{
    margin-bottom: 1%;
    padding-bottom: 2%;
    border-radius: 5px;
}


.card{
    background-color: #ffffff;
    margin-bottom: 50px;
}

.isinya{
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    align-items: center;
    width: 80%;
    border: 1px solid burlywood;
}

.shadow{
    box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 15px 40px rgb(166 173 201 / 20%);
}

.form-element{
    margin-bottom: 10px;
}

#add-todo{
    float: right;
    width: 40%;
    height: 50%;
}

#pencarian{
    float: left;
    width: 55%;
    height: 40%;
}

#belum{
    float: left;
    width: 55%;
    height: 50%;
}

#selesai{
    float: right;
    width: 40%;
    height: 50%;
    /* margin-top: -13.5%; */
}

input[type=text],input[type=date]{
    background: #f8f6fd;
    border: 1px solid #524a68;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 16px;
    width: 93%;
}

span{
    font-weight: bold   ;
}

button#submit-input-buku,button#tombol-cari-buku{
    width: fit-content;
    font-family: Raleway, sans-serif;
    border-radius: 50px;
    padding: 12px 24px;
    border: 1px solid #524a68;
    color: black;
    font-size: 16px;
    margin-top: auto;
    cursor: pointer;
}

@keyframes button {
    from {background-color: #fff;}
    to {background-color: #b53f38;}
}

button#submit-input-buku:hover{
    background-color: #b53f38;
    color: white;
    animation-name: button;
    animation-duration: 0.5s;
}

button#tombol-cari-buku:hover{
    background-color: #b53f38;
    color: white;
    animation-name: button;
    animation-duration: 0.5s;
}

.check-button{
    width: 120px;
    height: 34px;
    background-color: rgb(27, 131, 27);
    color: white;
    margin: 10px;
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.undo-button{
    width: 170px;
    height: 34px;
    background-color: rgb(27, 131, 27);
    color: white;
    margin: 10px;
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.trash-button{
    /* order: 0; */
    padding: 5px;
    height: 33px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(172, 13, 13);
    color: white;
    font-size: 16px;
    border: none;
}

.hilang{
    display: hidden;
}

.kembali{
    display: block;
}